<section>
    <div class="container text-center py-5">
        <h4 class="font-weight-light mb-3">Terms & Conditions</h4>
        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, exercitationem, possimus repudiandae reprehenderit enim ea alias recusandae aperiam beatae obcaecati facere? Officiis sint itaque eaque consectetur perspiciatis nihil beatae earum error, recusandae dolor! Aspernatur perferendis quas, quis earum sit totam exercitationem pariatur itaque porro veritatis tempore, quam beatae quaerat. Reiciendis consequatur nulla corporis doloremque. Ipsum alias nulla quam repellendus deserunt!</p>
    </div>
</section>