<section>
    <div class="container p-5">
        <h1 class="text-center title">How it works</h1>
        <div class="row py-3">
            <div class="col-md-4 text-center step">
                <!-- <span class="iconify logo" data-icon="feather-shopping-bag" data-inline="false"></span> -->
                <img class="illus basket" src="assets/svg/shopping-basket.svg" alt="">
                <h3 class="mt-4 step-heading">Add Items To Basket</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, recusandae officiis.</p>
            </div>
            <div class="col-md-4 text-center step">
                <!-- <span class="iconify logo" data-icon="emojione-monotone:check-box-with-check" data-inline="false"></span> -->
                <img class="illus check" src="assets/svg/check.svg" alt="">
                <h3 class="mt-4 step-heading">Confirm Order</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi.</p>
            </div>
            <div class="col-md-4 text-center step">
                <!-- <span class="iconify logo" data-icon="mdi-door-closed-lock" data-inline="false"></span> -->
                <img class="illus truck" src="assets/svg/delivery-truck.svg" alt="">
                <h3 class="mt-4 step-heading">Start Delivery</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, praesentium.</p>
            </div>
        </div>
    </div>
</section>
