.filter-by-mobile-container {
    height: 100%;
    position: fixed;
    width: 300px;
    z-index: 105;
    background: white;
    box-shadow: 2px 7px 5px -4px rgba(0,0,0,0.25);
    transform: translateX(-300px);
    transition: transform 0.3s;

    display: initial;
    padding-top: 1rem;
    -moz-transition: none !important;
}

@media screen and (min-width:992px) {
    .filter-by-mobile-container {
        display: none;
        -moz-transition: 0.3s !important;
    }

}