<section style="background: #F1F3EC;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center">
                <img class="illus-1" src="{{ illus }}" alt="">
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title feature-one">{{ title }}</h1>
                    <p class="text-justify mb-4">{{text }}</p>
                    <div class="button-container">
                        <button class="btn my-button text-center" routerLink="/products">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>