
.property,
.value {
  display: flex;
}

.property {
  align-items: flex-start;
}

.value {
  align-items: center;
}


.form-section,
.my-button,
.form-control {
  font-size: 0.8rem;
  border-radius: 0;
}

.my-button {
  border-radius: 0;
  display: block;
}

.input.form-control {
  height: calc(1.5em + 0.35rem + 2px);
}

.change-pw {
  text-decoration: underline;
}

textarea {
  max-width: 236px;
}


form .ng-dirty.ng-invalid {
  border: 1px solid red;
}

.invalid-label {
  color: red;
  margin-bottom: 1rem;
  margin-left: 0.35rem;
  font-size: 0.8rem;
  margin: 0;
}

.btn.disabled {
  cursor: not-allowed;
}

.btn:hover {
  color: white;
  text-decoration: none;
}

.submit-btn {
  display: block;
  width: 100%;
}
.eye {
  float: right;
  margin-top: -27.7px;
  margin-right: 13.3px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  color: #f2a231;
  /* font-size: 0.8rem; */
}

input {
  padding-right: 4.2rem;
}

input, textarea {
  border: 0;
  border-bottom: 1px solid #c7c7c7;
}

input, .eye {
  font-size: 12px;
}


@media screen and (min-width: 376px) {
  .form-section,
  .my-button,
  .form-control, .eye {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 576px) {
  .submit-btn {
    display: initial;
    width: initial;
  }

  .form-section,
  .my-button,
  .form-control, .eye {
    font-size: 1rem;
  }
}
