<p *ngIf="loading" class="text-center">Loading...</p>
<div *ngIf="!loading">
    <div class="alert alert-success" role="alert" *ngIf="success">
        Update success.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{ errorMsg }}
      </div>
    <div class="form-section">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="row mb-3 no-gutters">
                <div class="col-5 property">
                    Current Password:
                </div>
                <div class="col-7 value">
                    <div class="form-group m-0">
                        <input [type]="oldPasswordVisibile ? 'text' : 'password'" formControlName="oldPassword" class="form-control" id="oldPassword">
                        <span class="eye" (click)="toggleOldPasswordVisibility()">{{ oldPasswordVisibile ? 'HIDE' : 'SHOW' }}</span>
                        <div class="invalid-label-container" *ngIf="passwordForm.get('oldPassword').touched && passwordForm.get('oldPassword').dirty && passwordForm.hasError('required', 'oldPassword')">
                            <label  for="oldPassword" class="invalid-label">Required</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 no-gutters">
                <div class="col-5 property">
                    New Password:
                </div>
                <div class="col-7 value">
                    <div class="form-group m-0">
                        <input [type]="newPasswordVisible ? 'text' : 'password'" formControlName="newPassword" class="form-control" id="newPassword">
                        <span class="eye" (click)="toggleNewPasswordVisibility()">{{ newPasswordVisible ? 'HIDE' : 'SHOW' }}</span>
                        <div class="invalid-label-container" *ngIf="passwordForm.get('newPassword').touched && passwordForm.get('newPassword').dirty && passwordForm.hasError('required', 'newPassword')">
                            <label  for="newPassword" class="invalid-label">Required</label>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn submit-btn my-button mt-4" [ngClass]="!passwordForm.dirty ? 'disabled' : ''" [disabled]="!passwordForm.dirty ? 'disabled' : ''">{{ loading ? 'Submitting...' : 'Submit' }}</button>
        </form>
    </div>
</div>