<div class="loading-container" *ngIf="loadingPresentInDom" [ngClass]="categoriesLoading ? 'opacity1' : 'opacity0'">
    <div class="helper" style="position: relative;" *ngIf="sprinnerPresentInDom">
        <img class="loading-spinner" src="assets/gifs/loading.svg" alt="">
    </div>
</div>

<div *ngIf="!adminMode">
    <app-cart></app-cart>
    <div (click)="onToggleCart()">
        <app-darkener *ngIf="cartOpen"></app-darkener>
    </div>
    <app-header-mobile class="my-header-mobile">
    </app-header-mobile>
    <app-header class="my-header">
    </app-header>
</div>


<div class="head-content" [ngClass]="adminMode ? 'admin-mode' : ''">
    <div id="content" [ngStyle]="{'transform': navOpened ? 'translateX(300px)' : 'translateX(0px)'}">
        <router-outlet></router-outlet>
        <div *ngIf="!adminMode">
            <app-footer></app-footer>
        </div>
    </div>
</div>