<section id="bannerv2">
    <div class="container banner-v2 py-5">
        <div class="row">
            <div class="jumbotron">
                <div>
                    <h1 class="display-4 title banner-title">Hello, world!</h1>
                    <p class="lead text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, voluptatem?</p>
                    <div class="button-container2">
                        <button class="btn my-button text-center" routerLink="/products">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>