<section>
    <div class="container py-5">
        <h1 class="text-center title mb-4">What people are saying</h1>
        <div class="row">
            <div class="col-lg-4 text-center review">
                <div><img class="avatar" src="assets/svg/avatars/man.svg" alt=""></div>
                <span class="iconify star" data-icon="bx:bxs-star" data-inline="false" *ngFor="let star of stars"></span>
                <h3 class="step-heading client">"Lorem Ipsum!"</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus voluptate soluta expedita accusamus officia! Quisquam!</p>
            </div>
            <div class="col-lg-4 text-center review">
                <div><img class="avatar" src="assets/svg/avatars/girl.svg" alt=""></div>
                <span class="iconify star" data-icon="bx:bxs-star" data-inline="false" *ngFor="let star of stars"></span>
                <h3 class="step-heading client">"Dolor. Sit."</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat unde rerum esse.</p>
            </div>
            <div class="col-lg-4 text-center review">
                <div><img class="avatar" src="assets/svg/avatars/old.svg" alt=""></div>
                <span class="iconify star" data-icon="bx:bxs-star" data-inline="false" *ngFor="let star of stars"></span>
                <h3 class="step-heading client">"Amet consectetur."</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cupiditate maxime saepe, illo odit non!</p>
            </div>
        </div>
        <h3 class="text-center step-heading">Lorem ipsum "<strong style="color: #F2A231">dolor</strong>" sit amet consectetur.</h3>
    </div>
</section>