#categories {
  background: #767d6b;
}

ul {
  list-style-type: none;
}

li {
  color: white;
}

li:hover {
  background: #535f54;
}

.subcat {
  background: #535f54;
}

.subcat:hover {
  color: orange;
}

/**********************************/

.my-navbar {
  overflow: hidden;
  background-color: #767d6b;
  display: none!important;
}

.my-dropdown {
  float: left;
  overflow: hidden;
}

.my-dropdown .dropbtn {
  font-size: 14.7px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.my-navbar a:hover,
.my-dropdown:hover .dropbtn {
  background-color: #535f54;
}

.my-dropdown-content {
  display: none;
  position: absolute;
  background-color: #535f54;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  cursor: pointer;
}

.my-dropdown-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.my-dropdown-content a:hover {
  color: orange;
}

.my-dropdown:hover .my-dropdown-content {
  display: block;
}

.dropbtn:hover {
  color: orange!important;
}

@media screen and (min-width:992px) { /* means 992 and ABOVE */
  .my-navbar {
      display: flex!important;
  }

}

