<section id="banner">
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-end align-items-center">
                <div class="col-8 col-lg-5 p-0 banner-col">
                    <div class="banner-text-container p-5">
                        <h1 class="font-weight-light banner-text mr-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                        <p class="banner-text mr-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, culpa quis repudiandae beatae a unde.</p>    
                        <button class="btn btn-shop-now">Shop Now</button>
                    </div>
                </div>
        </div>
    </div>
</section>
