<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center illus-mobile">
                <img class="illus-1" src="assets/svg/undraw_time_management_30iu.svg" alt="">
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="title feature-one">Lorem, ipsum.</h1>
                    <p class="text-justify mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iure soluta tempora esse inventore earum, blanditiis hic quis, maxime velit, dicta magni? Ipsum ratione illo, in repudiandae officiis mollitia harum illum corrupti nihil, sunt eos?</p>
                    <div class="button-container">
                        <button class="btn my-button text-center" routerLink="/products">Shop Now</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center illus-desktop">
                <img class="illus-1" src="assets/svg/undraw_time_management_30iu.svg" alt="">
            </div>
        </div>
    </div>
</section>